.Product {
  font-size: 50px;
}

.Para1 {
  font-size: larger;
}

.Align {
  text-align: center;
}

.Card {
  display: inline-flex;
}

.Button a {
  color: #fff;
}

.Button a:hover {
  color: #fff;
  text-decoration: none;
}

.Button2 {
  margin-left: 70px;
}

.Button2 a {
  color: #fff;
}

.Button2 a:hover {
  color: #fff;
  text-decoration: none;
}

.Pagination {
  justify-content: flex-end;
  margin-top: 2rem;
}
